
html {
    font-family: 'Roboto', sans-serif;

} 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
} 
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
 

.logo {
    max-width: 120px;
    height: auto;
}











body {
    background: url(/website/img/fashion.avif) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}
.login-container {
    margin-top: 150px;
    max-width: 400px;
    background-color: transparent;
    border: 2px  solid  rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    width: 350px;
}
.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
}
.btn-custom {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
a {
    color: #fff;
    text-decoration: none;
}

.form-group input::placeholder {
    color: #fff;
} 




